@model IEnumerable<Sockerbagare2.Models.RecievedOrder>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
@using (Html.BeginForm())
{
    <p>
        Search for Provider / Ingredient: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("RecievingDate", "Index", new { sortOrder = ViewBag.RecieveDateSort })
                @*@Html.DisplayNameFor(model => model.RecievingDate)*@
            </th>
            <th>
                @Html.ActionLink("Ingredient", "Index", new { sortOrder = ViewBag.IngredientSort })
                @*@Html.DisplayNameFor(model => model.Ingredient)*@
            </th>
            <th>
                @Html.ActionLink("QuantityKg", "Index", new { sortOrder = ViewBag.QuantitySort })
                @*@Html.DisplayNameFor(model => model.QuantityKg)*@
            </th>
            <th>
                @Html.ActionLink("ManufacturingDate", "Index", new { sortOrder = ViewBag.ManuDateSort })
                @*@Html.DisplayNameFor(model => model.ManufacturingDate)*@
            </th>
            <th>
                @Html.ActionLink("BestBeforeDate", "Index", new { sortOrder = ViewBag.BestBeforeSort })
                @*@Html.DisplayNameFor(model => model.BestBeforeDate)*@
            </th>
            <th>
                @Html.ActionLink("Provider", "Index", new { sortOrder = ViewBag.ProviderSort })
                @*@Html.DisplayNameFor(model => model.Provider)*@
            </th>
            <th>
                @Html.ActionLink("Comments", "Index", new { sortOrder = ViewBag.CommentsSort })
                @*@Html.DisplayNameFor(model => model.Comments)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.RecievingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ingredient.IngredientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuantityKg)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ManufacturingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BestBeforeDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Provider.ProviderName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comments)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
